/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; 
    background: #a1ca5a;
    font-size: 17px;
}
body { margin: 0; 
    font-family: 'Open Sans', sans-serif;
    
     }