/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; 
    background: #073b4c;
    font-size: 17px;
}
body { margin: 0; 
    font-family: 'Itim', cursive;
    
     }