.progressBar{
   position: relative;
   align-content: center;
}

.iconWrapper{
   display: inline-block;
   position: absolute;
}

.emptyIcons span{
   font-size: xxx-large;
}

.fullIcons{
   width: 50%;
   overflow: hidden;
   white-space: nowrap;
}

.fullIcons span{
   font-size: xxx-large;
}
