

.container   {
display: inline-flex;
justify-content: space-evenly;
align-items: center;
padding-top: 5rem;
padding-left: 12em;
}

.infoAndButton {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.Button {
  display: flex;
  justify-content: center;
  padding: 1em;
}


  #upperText {
    color: white;
    font-weight: bolder;
    font-size: 36px;
  }

  #lowerText {
    color: white;
    font-weight: bolder;
    font-size: 17px;
  }

  .gameinfo {
    background:none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-size: 12px;
    color: tomato;
  }



  .shareIcons {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .icon {
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 85%;
    height: auto;
  }

  .HobbitImage {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    
  }

  
  
  /* resizing for tablets*/
  @media only screen and (max-width: 1023px) {
    .title {
      font-size: 60px;
    }
    button {
      width: 85px;
      height: 85px;
      font-size: 18px;
      
    }
    .lead {
      text-align: center;
      padding-top: 7rem;
      font-size: 15px;
    }
    .shareIcons {
      justify-content: center;
    }

  }