.wrapper{
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-gap: 2%;
   width: 55%;
   min-width: 700px;
   margin: auto;
}

.wrapper > section{
   border: 2px solid;
   text-align: center;
}

.imageBox{
   margin: auto;
}

.summaryInfo > div{
   margin: auto;
   border: 1px solid;
}

.summaryInfo > h3{
   margin: auto;
   border: 1px solid;
}

.summaryText{
   text-align: left;
}

.buttonRow{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2%;
}

.buttonRow > div{
   border: 1px solid;
}
