
.wrapper{
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-gap: 2%;
   width: 55%;
   min-width: 700px;
   margin: auto;
}

.wrapper > section{
   text-align: center;
}

.imageBox{
   margin: auto;
}

.link {
   color: #ef476f;
}
.summaryInfo > div{
   margin: auto;
}

h3 {
   margin: auto;
   font-weight: bolder;
   font-size: xx-large;
   padding: 1rem;
   color: #ffd166; 
}

.Score {
   color: #ef476f;
}

.summaryText{
   text-align: center;
   padding: 1rem;
   color: #ffd166;

}

.buttonRow{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2%;
}

Button {
   color: #ffd166;
   border: 2px solid #ef476f;
   margin-top: 0.5em;
}

Button:hover {
   background-color: #ef476f;
}


@media only screen and (max-width: 800px) {
   .imageBox {
      display: none;
   }
}

