<body>
   <article class="shareMain">
      <h3>Sweet Tooth Chronicles</h3>
      <section>
         Keep the story going--the hobbits need your help keeping their sweet teeth at bay!
         Share your results with friends and together you can keep the village running.
      </section>
      <section class="shareIcons">
         <div>
            <a [attr.href]="facebookShareLink">Facebook</a>
         </div>
         <div>
            <a [attr.href]="twitterShareLink">Twitter</a>
         </div>
         <div>
            <a [attr.href]="redditShareLink">Reddit</a>
         </div>
      </section>
   </article>
   <div class="closeButton">
      <button mat-button mat-dialog-close>Close</button>
   </div>
</body>
