<div>
   <p>What do you think has more sugar? </p>
   <div class="food-quiz">
      <mat-selection-list #foods [multiple]="false">
         <mat-list-option *ngFor="let food of typesOfFood" [value]="food">
            {{food}}
         </mat-list-option>
      </mat-selection-list>
      <p>
         Meal selected: {{foods.selectedOptions.selected[0]?.value}}
      </p>
   </div>
   <div class="game-result-buttons">
         <button mat-flat-button color="primary" routerLink="/game-win">Game Win!</button>
         <button mat-flat-button color="warn" routerLink="/game-over">Game Over!</button>
   </div>
   <p>
      Progress:
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
   </p>
</div>
