<div class="jumbotron">
   <h1 class="display-4 center">{{meals[currentMeal].name}}</h1>
   <div class = "topright">
     <button mat-flat-button [routerLink]="cond_vall ? ['/game-over'] : []"
     (click)="nextMeal()" color="primary"
     [disabled]="foods.selectedOptions.selected[0]?.value.sugarContent == null">
       {{ cond_vall == false ? 'Next Meal' : 'End Game' }}
     </button>
     &nbsp;
     <button mat-flat-button>Help</button>
   </div>

  <div class="container center">
    <mat-selection-list #foods [multiple]="false"
    [disabled]="foods.selectedOptions.selected[0]?.value.sugarContent != null">
      <mat-list-item>
        <mat-list-option *ngFor="let food of currentFoodChoices" [value]="food"
        (click)="selectAnswer(foods.selectedOptions.selected[0]?.value)">
          <img class="center-image" width="150" height="150" src="./assets/foodItemPlaceholder.png" >
          <div class = "center">
            <h6>{{food.name}}</h6>
          </div>
        </mat-list-option>
      </mat-list-item>
    </mat-selection-list>
  </div>

  <p></p>
  Sugar level:
  <mat-progress-bar mode="determinate" value="{{totalSugar}}"></mat-progress-bar>

    <hr class="my-4">
    <div *ngIf="foods.selectedOptions.selected[0]?.value.sugarContent != null">
      <div *ngIf="answerIsCorrect(foods.selectedOptions.selected[0]?.value.sugarContent); else elseBlock">
        CORRECT
      </div>
      <ng-template #elseBlock>INCORRECT</ng-template>
    </div>
    <p></p>

    <p>Meal selected: {{foods.selectedOptions.selected[0]?.value.name}}</p>
    <p>Sugar Amount: {{foods.selectedOptions.selected[0]?.value.sugarContent}}</p>
    <div class="game-result-buttons">
         <button mat-flat-button color="primary" routerLink="/game-win">Game Win!</button>
         <button mat-flat-button color="warn" routerLink="/game-over">Game Over!</button>
    </div>
    <p></p>
    <p>Selected Answers</p>
    <div *ngFor="let answer of answers">
       {{answer.name}} has {{answer.sugarContent}}g of sugar per 100g.
    </div>
    <div class="bottomright">
      <div *ngIf="belowMaxSugar(); else sickHobbit">
        <img src="/assets/hobbit_1.png" height="225" width="150">
      </div>
      <ng-template #sickHobbit>
        <img src="/assets/sick_hobbit_1.png" height="225" width="150">
      </ng-template>
    </div>
  </div>
