.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 60px;
  margin-top: 1.5rem;
  color: #ef476f;
 }
 
.container {
 display: block;
}

.foodList {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

#wrapper {
  color:#ef476f;
}

:host /deep/ .mat-list-option {
  display: flex;
  justify-content: center;
  width: 130px;
  height: auto;
  background-color: transparent;
  /*
  margin-left: 15px!important;
  margin-right: 15px!important;
  max-width: 195px!important; */
  mix-blend-mode: darken!important;
} 

/deep/ .mat-progress-bar-fill::after {
  background-color: #06d6a0;
}

/deep/ .mat-progress-bar-buffer {
  background: #E4E8EB;
}

 img {
  width: 130px;
  height: auto;
 }

 img:hover {
  opacity: 0.3;
}


.buttons {
  display: flex;
  justify-content: flex-end;
}

.list-width {
  width: 60%;
}

.list-spacing {
   margin-bottom: 10px;
}

