.center {
  display: flex;
  justify-content: center;
}

.jumbotron{
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  left: 1500px;
  padding-top: 80px;
  padding-bottom: 70px;
}

:host /deep/ .mat-list-option {
  height: 200px!important;
  margin-top: 80px!important;
  margin-bottom: 100px!important;
  margin-left: 15px!important;
  margin-right: 15px!important;
  max-width: 195px!important;
  mix-blend-mode: darken!important;
}
.center-image {
  width: 111%;
}

.topright {
  position:absolute;
  top: 120px;
  left: 70%;
  margin: 5px;
}

.bottomright {
  position: absolute;
  left: 65%;
  margin-right: auto;
  top: 540px;

}

.list-width {
  width: 60%;
}

.list-spacing {
   margin-bottom: 10px;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1000px;
}
