

<div class="container blockdisplay">
  <div class="topComponent">
    <h1 class="title center">{{getCurrentMealName(currentMeal)}}</h1>
   <div class = "buttons">
     <button mat-flat-button [routerLink]="cond_vall ? ['/game-over'] : []"
     (click)="nextMeal()" color="primary"
     [disabled]="foods.selectedOptions?.selected[0]?.value.sugarAmount == null">
       {{ cond_vall == false ? 'Next Meal' : 'End Game' }}
     </button>
     &nbsp;
     <button mat-flat-button onclick="/app/village/modal-config">Help</button>
   </div>
   </div>
  </div>

  <div class="container blockdisplay colourBackground rounded">
    <div class="foodList">
    <mat-selection-list #foods [multiple]="false"
    [disabled]="foods.selectedOptions?.selected[0]?.value.sugarAmount != null">
      <mat-list-item>
        <mat-list-option [disableRipple]="true" *ngFor="let food of currentFoodChoices" [value]="food"
        (click)="selectAnswer(foods.selectedOptions?.selected[0]?.value)">
        <div class="foodStuff">
          <img src="./assets/{{food.imagePath}}.png" class="foodImage">
          <div class = "center">
            <h6>{{food.name}}</h6>
          </div>
          <app-sugar-content [foodItem]="food" [showAnswer]="foods.selectedOptions?.selected[0]?.value.sugarAmount != null"></app-sugar-content>
        </div>
        </mat-list-option>
      </mat-list-item>
    </mat-selection-list>
  </div>
  </div>

  <div class="container">
  <div id="wrapper">
  <p class="sugarLevel">Sugar level:</p>
  <div class="rowdisplay">
  <app-quiz-progress [hobbit]="hobbit" [sugarLevel]="totalSugar"></app-quiz-progress>
  </div>
  </div>
  </div>

  <div class="container">
    <hr class="my-4">
    <ul class="list-group list-width" *ngFor="let answer of answers">
      <li class="list-group-item d-flex justify-content-between
      align-items-center list-spacing" style= "height: 3rem">
        <p class="h6 mt-2 text-light">{{answer.name}}</p>
        <span class="badge bg-light rounded-pill w-50" style="height: 2rem;">
          <p class="font-weight-light text-center mt-2">
            {{answer.sugarAmount}}g of sugar per 100g
          </p>
        </span>
      </li>
    </ul>
  </div>
    
  
    <div class="bottomright">
      <div *ngIf="belowMaxSugar(); else sickHobbit">
        <img src="/assets/hobbit_1.png" height="400" width="280">
      </div>
      <ng-template #sickHobbit>
        <img src="/assets/sick_hobbit_1.png" height="400" width="280">
      </ng-template>
    </div>
    
  

 
  

  


