<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home (village)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/quiz">Sugar Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/win">You win!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/lose">Game Over</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/help">Instructions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/error">Error</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/game-over">Game Over</a>
        </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
<router-outlet></router-outlet>
