
<app-modal #modal></app-modal>
<div>
    <router-outlet></router-outlet>
</div>
<nav class="py-0">
    <section class="shareIcons">
        <div>
           <a [attr.href]="facebookShareLink"><img src="./assets/Colour-Facebook.png" alt="Facebook Icon" class="icon img-fluid"></a>
        </div>
        <div>
           <a [attr.href]="twitterShareLink"><img src="./assets/Colour-Twitter.png" alt="Twitter Icon" class="icon"></a>
        </div>
        <div>
           <a [attr.href]="redditShareLink" ><img src="./assets/Colour-Reddit.png" alt="Reddit Icon" class="icon"></a>
        </div>
        </section>
    </nav>
<router-outlet></router-outlet>
<footer class="footer py-0">
    <div class="container">
      <span class="text-muted center">Place sticky footer content here.</span>
    </div>
  </footer>

