.wrapper{
   display: grid;
   grid-template-rows: 1fr;
   grid-auto-flow: column;
   grid-gap: 10px;
   text-align: center;
}

.wrapper > section{
   flex: 1;
}

.closeButton{
   text-align: center;
   color: #ffd166;
}
